.shop-box{
    display: flex;
}
.products-box{
    width: 70px;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightblue;
}
.card-box{
    margin-left: 1240px;
    margin-right:2px;
    border-bottom: 20px solid blue;
    border-right: 1px solid rgb(85, 189, 16);
}   
